$special-black: #2C2C2C;
$text-white: #d6d3d5;

.top-bar {
  background-color: $special-black;

  .top-bar-left {
    display: inline-block;
  }

  .top-bar-right {
    display: inline-block;
  }

  .menu {
    background-color: $special-black;
  }

  .menu-text span {
    color: $text-white;
  }

  .active-link {
    font-weight: bold;
  }
}

$clock-size: 14rem;
$clock-background-color: #4d55e7;
$clock-border-color: #2d3474;
$clock-text-color: white;

.clock {
  height: $clock-size;
  width:  $clock-size;
  background-color: $clock-background-color;
  border: 2px solid $clock-border-color;
  border-radius: 50%;
}

.clock-text {
  font-size: 2.25rem;
  font-color: $clock-text-color;
  text-align: center;
  position: relative;
  top: 37%;
}
